.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 920px;
  height: 500px;
  margin: 171px auto 129px;
}

/* media queries */

@media screen and (max-width: 375px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 327px;
    height: 1326px;
    margin: 88px 24px 88px 24px;
  }
}
